@import "tailwindcss";

@font-face {
  font-family: "Roboto";
  src: url("/fonts/sans-serif.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "Playfair";
  src: url("/fonts/serif.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "Geist Mono";
  src: url("/fonts/mono.woff2") format("woff2");
  font-display: swap;
}

:root {
  --font-sans: "Roboto", sans-serif;
  --font-serif: "Playfair", serif;
  --font-mono: "Geist Mono", monospace;
}

html,
body {
  background-color: var(--color-slate-50);
  color: var(--color-slate-800);
  font-family: var(--font-sans);
  color-scheme: light;
}

@media (prefers-color-scheme: dark) {
  html,
  body {
    background-color: var(--color-slate-950);
    color: var(--color-slate-50);
    color-scheme: dark;
  }
}

a {
  text-decoration: underline;
  color: var(--color-slate-600);
}

@media (prefers-color-scheme: dark) {
  a {
    color: var(--color-slate-400);
  }
}
