@import "tailwindcss";

:root {
  --font-sans: "Roboto", sans-serif;
  --font-serif: "Playfair", serif;
  --font-mono: "Geist Mono", monospace;
}

html,
body {
  background-color: var(--color-slate-50);
  color: var(--color-slate-800);
  font-family: var(--font-sans);
  color-scheme: light;
}

@media (prefers-color-scheme: dark) {
  html,
  body {
    background-color: var(--color-slate-950);
    color: var(--color-slate-50);
    color-scheme: dark;
  }
}

a {
  text-decoration: underline;
  color: var(--color-slate-600);
}

@media (prefers-color-scheme: dark) {
  a {
    color: var(--color-slate-400);
  }
}
